<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME PAGE</title>
    {% load static %}
    <!-- This is used to load static files in Django templates -->
    <link rel="stylesheet" href="{% static '/style .css' %}" />
  </head>
  <body>
    {% include 'posts/include/common.html' %}
    <h1>This is the HOME page man !!!!</h1>
    <p>the data from the DJANGO is {{content}}</p>
    <a href="/posts/dummy">dummy</a>
  </body>
</html>
